<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.viewtest.comp.model.CompDao">
    <resultMap id="compResult" type="com.ohgiraffers.viewtest.comp.dto.CompDTO">
        <id property="compCode" column="COMP_CODE" />
        <result property="compName" column="COMP_NAME"/>
        <result property="compLat" column="COMP_LAT" />
        <result property="compHar" column="COMP_HAR" />
        <result property="compCategory" column="COMP_CATEGORY" />
        <result property="registDate" column="REGIST_DATE" />
        <result property="updateDate" column="UPDATE_DATE" />
    </resultMap>

    <select id="selectAllComp" resultMap="compResult">
        SELECT
        *
        FROM
        COM_PRAC
    </select>
</mapper>