<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <section class="box">
        <aside class="box-sidebar">
            <nav class="sidebar">
                <hr>
                <b class="menuTitle">회원 관리</b>
                <ul>
                    <li><small><a href="#">회원 가입 현황</a></small></li>
                    <li><small><a href="#">회원 등업/수정/삭제</a></small></li>
                </ul>

                <hr>
                <b class="menuTitle">업체 관리</b>
                <ul>
                    <li><small><a href="#">업체 게시글 등록</a></small></li>
                    <li><small><a href="#">글 수정/삭제</a></small></li>
                    <li><small><a href="#">업체 현황/등록</a></small></li>
                    <li><small><a href="#">업체 수정/삭제</a></small></li>
                </ul>

                <hr>
                <b class="menuTitle">관리자 회원 관리</b>
                <ul>
                    <li><small><a href="#">관리자 현황</a></small></li>
                    <li><small><a href="#">관리자 수정/삭제</a></small></li>
                    <li><small><a href="#">문의사항 회의</a></small></li>
                </ul>

                <hr>

                <b class="menuTitle">고객센터</b>
                <ul>
                    <li><small><a href="#">1:1문의 / 신고</a></small></li>
                </ul>

                <hr>
                <b class="menuTitle">운영자 공지사항</b>
                <ul>
                    <li><small><a href="#">공지사항 등록</a></small></li>
                    <li><small><a href="#">글 노출/수정/삭제</a></small></li>
                </ul>
            </nav>
            <hr>
            <button class="adminLogoutBtn">관리자 로그아웃</button>
        </aside>
        <div class="box-contents">
            가변너비
        </div>
    </section>
</div>
</body>
</html>